body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: hsl(213, 6%, 32%);
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Zeyada', cursive;
    color: #A7BBC7;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #A7BBC7;
    font-size: 2rem;
    padding-bottom: 2%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(204, 20%, 50%);
}

p {
    line-height: 2;
    font-size: 1.2rem;
}

hr {
    border: dotted #ffc6c6 10px;
    border-bottom: none;
    width: 10%;
    margin: 5% auto;
}

.dark {
    color: hsl(213, 6%, 32%);
}

/* Navigation Bar */

.top_nav {
    background-color: #FAF3F3;
    padding: 3% 5%;
}

.navbar {
    padding: 0 0 3rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}

.nav-link:hover{
    cursor: pointer;
}

.side-img {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    padding-top: 5%;
}

.side-link {
    font-size: 1.2rem;
    color: #DA7F8F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.side-link:hover {
    color: hsl(204, 20%, 50%);
}

.top {
    background-color: #FAF3F3;
    position: relative;
    padding-top: 10%;
}

.dev {
    font-size: 2rem;
    font-weight: normal;
}

@keyframes topcloud {
    from {right:40%; top:10%;}
    to {right:0%; top:10%}
}
.top-cloud {
    position: absolute;
    animation: topcloud 2.5s linear 0s 1 normal forwards;
}

@keyframes bottomcloud {
    from {left:40%; bottom:60%;}
    to {left:0%; bottom:60%}
}

.bottom-cloud {
    position: absolute;
    animation: bottomcloud 2.5s linear 0s 1 normal forwards;
}

.mountains {
    width: 100%;
    padding-top: 20%;
}

.profile {
    margin: 5% auto 5% auto;
}

.intro {
    width: 50%;
    margin: auto;
}

.jpn {
    font-size: 120%;
    color: hsl(213, 6%, 32%);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.jpn:hover {
    color: #A7BBC7;
}

.middle {
    background-color: white;
    margin: 75px 0;
}

.skills {
    background-color: #FAF3F3;
    padding: 5% 0 5px 0;
}

.skill-row {
    width: 55%;
    margin: 50px auto 150px;
    text-align: left;
}

.skill-row-bottom {
    width: 55%;
    margin: 0 auto 150px;
    text-align: left;
}

.left-circ {
    float: left;
    margin-right: 30px;
}

.right-circ {
    float: right;
    margin-left: 30px;
}

.bottom_mess {
    margin: 5% auto 5% auto;
}

.hover_img { 
    position:relative; 
    text-decoration: none;
}

.hover_img { 
    position:absolute; 
    display:none; 
    z-index:99; 
    
}

.hover_img:hover { 
    display:block; 
}

.hover-gif {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.contact-me {
    width: 50%;
    margin: 40px auto 60px;
}

.chibi {
    margin: 40px auto 100px;
}

.btn {
    background-color: white;
    padding: 10px 30px;
    border-radius: 3px;
    color: #DA7F8F;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    background-color: #DA7F8F;
    color: white;
}

.bottom {
    background-color: #DA7F8F;
    padding: 50px 0 20px;
    position: relative;
}

.footer-link {
    margin: 10px 20px;
    color: hsl(213, 6%, 32%);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.footer-link:hover {
    color: #FAF3F3;
}

.copyright {
    padding: 20px 0;
    color: #FAF3F3;
    font-size: .75em;
}

.meeting {
    padding: 5%;
}
