body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-size: 450%;
    font-family: 'Zeyada', cursive;
    color: hsl(204, 20%, 50%);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(204, 20%, 50%);
    font-size: 200%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #A7BBC7;
    font-size: 150%;
}

p {
    color: hsl(213, 6%, 32%);
    padding: 0 1em 2em
}

a {
    color: hsl(213, 6%, 32%);
    text-decoration: none;
    padding: 10px;
}

.dark {
    color: hsl(213, 6%, 32%);
}

a:hover {
    color: #A7BBC7;
}

.bubbles {
    border-color: #DA7F8F;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 15%;
    padding-bottom: 10px;
}

.top {
    background-color: #FAF3F3;
    position: relative;
    padding-top: 10%;
}

.middle {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bottom {
    background-color: #DA7F8F;
    margin: 1em 0 0;
    padding: 20px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 15%;
    top: 10%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    bottom: 60%;
}

.mountains {
    width: 100%;
    padding-top: 20%;
}

.btn {
    background-color: hsl(204, 20%, 50%);
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 3px;
}

.jpn {
    font-weight: bold;
    font-size: 120%;
}

.chibi {
    padding-bottom: 5%;
}

.footer-link {
    padding: 0 5%;
}

.copyright {
    padding-top: 3%;
    padding-bottom: 0;
}

.profile {
    padding-top: 10px;
}

.meeting {
    padding: 5%;
}